.RandomBlock {
    animation: Rgb 4s ease-in-out infinite;
}

@keyframes Rgb {
    0% {
        background-color: rgba(255, 0, 0, 0.25);
    }
    25% {
        background-color: rgba(0, 255, 0, 0.25);
    }
    50% {
        background-color: rgba(0, 0, 255, 0.25);
    }
    75% {
        background-color: rgba(255, 255, 0, 0.25);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.25);
    }
}